* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

.content {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  flex-grow: 1;
  margin: 0 auto;
  height: 100vh;
  background: #1a1a1a;
}

.container {
  max-height: 100%;
  text-align: center;
}

.header {
  background: #0d0d0d;
  position: relative;
  z-index: 5;
}

.header__container {
  max-width: 1440px;
  margin: 0 auto;
}

.header__logo {
  padding: 50px 0;
}

.main {
  background: #1a1a1a;
  overflow: hidden;
  flex-shrink: 1;
  position: relative;
  bottom: 30px;
}

.form-task {
  position: relative;
  z-index: 100;
  max-width: 750px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 30px;
}

.form__input {
  font-size: 16px;
  padding: 16px;
  margin-bottom: 8px;
  max-width: 630px;
  width: 100%;
  background: #262626;
  border: none;
  border-radius: 8px;
  color: white;
}

.form-button {
  font-size: 16px;
  padding: 16px;
  background: #1579b3;
  color: white;
  border-radius: 8px;
}

.tasks {
  max-width: 750px;
  margin: 0 auto;
  width: 100%;
}

.tasks__summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 24px;
}

.filter {
  cursor: pointer;
  width: 100%;
  padding: 10px 25px 10px 10px;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid #535252;
  border-radius: 4px;
  background-color: transparent;
  color: #1579b3;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4 5"><path fill="none" stroke="%23333" stroke-width=".8" d="M2 0L0 2h4zm0 5L0 3h4z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 10px;
}

.filter option {
  background-color: #1a1a1a;
  color: #fff;
  padding: 10px;
}

.filter option:disabled {
  color: #999;
}

.tasks-panding {
  cursor: pointer;
  color: #4ea8de;
}

.tasks-completed {
  cursor: pointer;
  color: #8284fa;
}

.tasks-completed__count,
.tasks-panding__count {
  display: inline-block;
  padding: 2px 8px;
  background: #333333;
  border-radius: 999px;
}

.tasks__list {
  width: 100%;
  border-top: 1px solid #333333;
  border-radius: 8px;
}

.list__not {
  padding-top: 64px;
}

.list__not img {
  width: 56px;
  height: 56px;
}

.list__not-bould {
  font-size: 16px;
  font-weight: 700;
  color: #494949;
}

.list__not-standart {
  font-size: 16px;
  font-weight: 400;
  color: #808080;
}

.list__container {
  height: 60vh;
  overflow-x: hidden;
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: start;
  border-radius: 8px;
  height: 72px;
  background-color: #262626;
  margin: 12px;
}

.custom-checkbox {
  margin-top: 16px;
  margin-left: 16px;
  margin-right: 12px;
}

.list-item p {
  display: block;
  text-align: left;
  flex-grow: 1;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-right: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-wrap: break-word; /* переносит длинные слова */
  word-break: break-all; /* переносит слово, если оно не умещается */
}

.list-item img {
  cursor: pointer;
  margin-top: 16px;
  margin-right: 16px;
  width: 24px;
  height: 24px;
}

.hidden {
  display: none;
}

/* Скрываем стандартный чекбокс */
.custom-checkbox input[type="checkbox"] {
  display: none;
}

/* Стилизация контейнера для чекбокса */
.custom-checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 24px;
  user-select: none;
}

/* Стилизация кастомного чекбокса */
.custom-checkbox__box {
  width: 24px;
  height: 24px;
  border: 2px solid #4ea8de;
  border-radius: 50%;
  background-color: transparent;
  margin-right: 8px;
  position: relative;
  transition: background-color 0.3s, border-color 0.3s;
}

/* Стилизация состояния чекбокса "включено" */
.custom-checkbox input[type="checkbox"]:checked + .custom-checkbox__box {
  background-color: #004f99;
  border-color: #004f99;
}

/* Добавляем галочку при активном состоянии чекбокса */
.custom-checkbox input[type="checkbox"]:checked + .custom-checkbox__box::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 7px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

/* Добавляем стили при наведении */
.custom-checkbox__box:hover {
  border-color: #0a58a6;
}

.custom-checkbox input[type="checkbox"]:checked + .custom-checkbox__box:hover {
  background-color: #106ca1;
}

.task-complete {
  color: #808080;
  text-decoration: line-through;
}
